.book {
	margin-bottom: 3rem;
	--indent: 1rem;
}

.book .separator {
	text-align: center;
	margin: 1rem 0;
}

.book section + section {
	margin-top: 5rem;
}

.book hr {
	border: none;
	height: 0.25em;
	width: 50%;
	margin: 2rem auto;
	background: rgba(0,0,0,0.1);
}

.book p:empty:after {
	content: '\00a0';
}

.book blockquote {
	font-style: italic;
	margin: 1rem;
}

.book blockquote em {
	font-style: normal;
}

.book :target {
	background: #fc0;
}

/*
	Style: prose
	------------
 */

.book--prose h1, 
.book--prose h2, 
.book--prose h3, 
.book--prose h4, 
.book--prose h5, 
.book--prose h6 {
	text-indent: var(--indent);
}

.book--prose p {
	margin: 0;
	text-indent: var(--indent);
}

.book--prose blockquote p:only-of-type {
	text-indent: 0;
}

.preamble h1, 
.preamble h2, 
.preamble h3, 
.preamble h4, 
.preamble h5, 
.preamble h6,
.preamble p {
	text-indent: 0;
	margin: 1rem 0;
}

.wip {
	background: linear-gradient(to bottom, #fff6aa 0, white 50vh);
}

.wip:before {
	content: 'În lucru';
	position: fixed;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;

	background: #fc0;
	padding: 0.5em 1em;
	left: 0;
	top: 0;
}