<!doctype html>
<html lang='ro'>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>llll · {{ titlu }}</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/fonts/crimson-pro.css">
		{% if custom_css %}
		<link rel="stylesheet" type="text/css" href="/{{custom_css}}">
		{% endif %}
	</head>
	<body>
		<header>
			<a class='logo' href='/'>Edițiile llll</a>
		</header>
		<article>
			<h1>{{ titlu }}</h1>
			{{ content | safe }}
		</article>
	</body>
</html>