<!doctype html>
<html lang='ro'>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{{site.title}}" />
		<meta name="twitter:image" content="{{site.url}}/img/favicon.png" />
		<title>{{site.title}}</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/fonts/crimson-pro.css">
	</head>
	<body>
		<header>
			<a class='logo' href='/'>
				<img src='/svg/llll.svg' alt='Edițiile llll'/>
			</a>
		</header>

		<article>
			{{ content | safe }}
		</article>

		<footer>
			<hr/>
			<p>
				<a href='/'>Edițiile llll</a> adună ficțiuni & non–ficțiuni din domeniul public. Contact: <a href='https://danburzo.ro/about'>Dan Burzo</a>.
			</p>
		</footer>
	</body>
</html>